/* general styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    margin: 0; 
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 26px;
    color: #1F2937;
}

.center-align {
    text-align: center;
}

.content-container {
    max-width: 1000px;
    margin: 0 auto;
}

.inner-container {
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    align-items: center;
}

.button {
    text-decoration: none;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 6px;
    width: fit-content;
}

.button--outline {
    border: 3px solid #F9FAF8;
}

img {
    display: block;
    width: 100%;
}

.fill-white {
    background-color: #ffffff;
}

.fill-grey {
    background-color: #E5E7EB;
}

.fill-secondary {
    background-color: #3882F6;
}

/* header */
.header {
    background-color: #1F2937;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header .logo {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
}

.header .menu {
    text-align: right;
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    gap: 20px;
}

.header .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* hero */
.hero {
    background-color: #1F2937;
}

.hero .content-container {
    padding: 150px 40px;
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.hero-content, .hero-image {
    flex: 50%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    color: #F9FAF8;
}

.hero-content p {
    color: #E5E7EB;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}

.hero-image p {
    color: #E5E7EB;
}

/* main sections */
.section-padding  {
    padding: 100px 40px;
}

/* testimonial */
.column img {
    border: 4px solid #3882F6;
    border-radius: 20px;
    min-height: 175px;
}

p.testimonial {
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
    font-style: italic;
}

p.testimonial-author {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: right;
}

.call-to-action {
    max-width: 1200px;
    padding: 40px;
    border-radius: 20px;
}

.call-to-action h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.call-to-action p {
    color: #E5E7EB;
    margin-top: 0;
}

.call-to-action .column.col-75 {
    flex: 0 1 75%;
}

.call-to-action .column.col-25 {
    display: flex;
    flex: 0 1 25%;
    justify-content: end;
}

/* footer */
.footer {
    background-color: #1F2937;
    text-align: center;
}

.footer .content-container {
    padding: 20px 40px;
}

.footer p {
    color: #E5E7EB;
}